@import url('https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i');
body{
	font-family: 'Muli', sans-serif;
	font-size: 14px;
	color: #000000;
}
header{
	padding: 20px 0px;
	color: #000;
}
	
.productodescripcion{
	align-content: center;
	padding: 100px 0px 0px;
}
h2{
	font-size: 60px;
	font-weight: 600; 
	line-height: 60px;
}
.descripcion{
	font-size: 20px;
	font-weight: 400;
}
.buttongris{
	text-transform: uppercase;
	color: #000000;
	border: 2px solid #000;
	border-radius: 30px;
	padding: 15px 20px;
	background-color: #e6e6e6;
	font-size: 12px;
	letter-spacing: 1px;
	font-weight: 700;
	
}
.buttongris:hover{
	background-color: #000;
	color: #fff;
	border: 2px solid #000;
}
.button{
	text-transform: uppercase;
	color: #000000;
	border: 2px solid #000;
	border-radius: 30px;
	padding: 15px 20px;
	font-size: 12px;
	letter-spacing: 1px;
	font-weight: 700;
}
.button:hover{
	background-color: #000;
	color: #fff;
	border: 2px solid #000;
}
.unpacked{
	background-color: #000000;
	color: #FFFFFF;
	padding-top: 10%;
	
}
.buttonnegro{
	text-transform: uppercase;
	background-color: #000000;
	color: #FFFFFF;
	border: 2px solid #fff;
	border-radius: 30px;
	padding: 15px 20px;
	font-size: 12px;
	letter-spacing: 1px;
	font-weight: 700;
}
.buttonnegro:hover{
	background-color: #FFFFFF;
	color: #000;
	border: 2px solid #fff;
}
h4{
	font-weight: 600;
	color: #363636;
	
}
.mapadelsitio{
	padding: 40px 0px;
	background-color: #e6e6e6;
}
.copyright{
	padding:7px 0px 0px;
	background-color: #e6e6e6;
	color: #363636;
}
h5{
	font-weight: 600;
	text-transform: uppercase;
}
.disclaimerweb{
	font-weight: 300;
	font-size: 12px;
}
.fondosections{
	background-color: #e6e6e6;
}
.footerlist{
	font-weight: 600;
	text-transform: uppercase;
}
.rowbackground {
	background-color: #363636;
	color: #FFFFFF;
	padding: 10px 0px;
}
.button2{
	background-color: transparent;
	text-transform: uppercase;
	color: #fff;
	border: 2px solid #fff;
	border-radius: 30px;
	padding: 15px 20px;
	font-size: 12px;
	letter-spacing: 1px;
	font-weight: 700;
}
.button2:hover{
	background-color: #fff;
	color: #000;
	border: 2px solid #fff;
}
#formulariocontacto{
	padding-bottom: 20px;
}
.carousel-caption{
	padding: 10%;
}
.hacer-por-ti{
	position: relative;
}

.titulofotos{
	font-size: 40px;
	font-weight: 600;
}
.tituloinicio{
	font-weight: 700;
}
.subtitulo{
	font-size: 25px;
	font-weight: 600;
}
#map{
	width: 50%;
	height: 300px;
}
#ubicacion{
	padding-bottom: 50px;
}
.cuadro{
	background-color: #e6e6e6;
	text-align: center;
	padding: 50px 10px 50px;
}
#smartphones{
	padding: 50px 0px 100px;
}
#televisores{
	padding: 50px 0px 100px;
}
#smartphone-para-ti{
	background-color: #000;
	
}


.navbar-brand {
  left:calc(50% - 45px);
  position: absolute;
  padding: 11px 0px;

}
.navbar{
	background-color: #fff;
	color: #000;
}
#ayuda{
	background-image: url(../img/latin-info-contactus-img-contact-background-desktop.jpeg);
	width: 100%;
	height: 300px;
	color: #fff;
}
.info-ubicacion{
	padding-left: 25%;
}
ul.breadcrumb li {
    display: inline;
    font-size: 12px;
	color: #606060;
}
ul.breadcrumb{
	background-color: #fff;
	border: solid 0.5px #e6e6e6;
	color: #606060;
	
	padding: 20px 20px 10px;
}
ul.breadcrumb a{
	color: #606060;
	font-weight: 400;
}
.cuadrogaleria{
	border: solid 0.5px #e6e6e6;
}
#navegacionuhd{
	background-color: #000;
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
	padding: 10px 0px 2px;
}
#navegacionuhd a{
	color: #fff;
}
.fondouhd{
	background-color: #e6e6e6;
}
.info-uhd{
	padding: 100px 50px;
	color: #2C2C2C;
	
}
.info-uhd h3{
	font-weight: 700;
}
.button-info-uhd{
	border: solid 2px #000;
	border-radius: 0px;
	text-align: center;
	padding: 5px 20px;
	width: 200px;
}
.button-info-uhd:hover{
	border: solid 2px #000;
	background-color: #e6e6e6;
	border-radius: 0px;
	text-align: center;
	padding: 5px 20px;
	width: 200px;
}
.button-comprar{
	background-color: #14289F;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-top: 70px;
	width: 410px;
	border-radius: 30px;
	border: none;
	padding: 15px 0px;
	font-weight: 700;
	font-size: 14px;
}
.button-comprar:hover{
	background-color: #0F1E77;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-top: 70px;
	width: 410px;
	border-radius: 30px;
	border: none;
	padding: 15px 0px;
	font-weight: 700;
	font-size: 14px;
}
.cuadrohighlights{
	padding: 30px;
	text-align: center;
	color: #2C2C2C;
	border-right: solid 1px #e6e6e6;
	padding-right: 60px;
}
.cuadrohighlights2{
	padding: 30px;
	text-align: center;
	color: #2C2C2C;
	padding-right: 60px;
}
#innovacion p{
	font-size: 10px;
	padding: 20px 0px;
	text-align: center;
}
#innovacion h2{
	padding: 20px 0px;
}
#hdr1 p{
	font-size: 10px;
	padding: 20px 0px;
	text-align: center;
}
#hdr1 h4{
	text-transform: none;
	text-align: center;
}
#hdr1 h2{
	padding: 20px 0px;
}
#dynamic p{
	font-size: 10px;
	padding: 20px 0px;
	text-align: center;
}
#dynamic h4{
	text-transform: none;
	text-align: center;
	padding-bottom: 20px;
}
#dynamic h2{
	padding: 20px 0px;
}

#control-remoto p{
	font-size: 10px;
	padding: 20px 0px;
	text-align: center;
}
#control-remoto h4{
	text-transform: none;
	text-align: center;
	padding-bottom: 20px;
}
#control-remoto h2{
	padding: 20px 0px;
}
#specs{
	
	padding: 50px 0px;
	text-align: center;
}
#specs h2{
	padding-bottom: 50px;
}
#soporte{
	background-color: #000;
	padding: 50px 0px;
	text-align: center;
	color: #fff;
}
#soporte h3{
	font-weight: 700;
	padding: 10px 0px 20px;
}